body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #777777;
  /* font-family: "Montserrat", sans-serif; */
}

h2 {
  margin-top: 100px;
  display: table;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #555555;
  font-weight: bold;
}
h2::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 55px;
  height: 2px;
  border-bottom: 2px solid #555555;
}

.title__paragraph {
  font-size: 16px;
  text-align: center;
  color: #979797;
  margin-bottom: 70px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul,
li {
  padding: 0;
  margin: 0;
  display: block;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgb(214, 171, 171);
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border: #fff solid 3px;
  color: #fff;
  transition: 0.2s;
  padding: 15px 30px;
}
.button:hover {
  cursor: pointer;
  border: dashed;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

/* HEADER */

.header {
  padding-top: 40px;
  background: url("../img/background.png") no-repeat center;
  height: 100vh;
  background-size: cover;
}
.header__item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-left: 30px;
}
.header .button {
  margin-top: 50px;
  margin-bottom: 260px;
}
.header__item:first-child {
  margin-left: 0;
}
.header__title h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  margin-top: 260px;
  text-align: center;
}
.header__title p {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

/*SERVICES*/

.services {
  margin-bottom: 100px;
}
.services__wrapper {
  text-align: center;
}
.services__icons {
  color: #cf6252;
  padding: 30px;
  margin: 0 auto;
  font-size: 40px;
  border: #eeeeee solid 3px;
  border-radius: 50%;
  transition: 0.5s;
  margin-bottom: 30px;
}
.services__icons:hover {
  cursor: pointer;
  background-color: #c0301c;
  color: #fff;
}
.services__title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #aaaaaa;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 25px;
}
.services__text {
  color: #777777;
  font-size: 14px;
}

/*ABOUT*/

.about {
  background-color: #f8f8f8;
}
.about img {
  margin-bottom: 20px;
}
.about__text {
  font-size: 14px;
  color: #777777;
  margin-bottom: 70px;
}
.about__name {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.about__proffession {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

/*WORKS*/
.works {
  margin-bottom: 100px;
}

.works__menu {
  text-align: center;
}
.works__item {
  margin-right: 15px;
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s;
  margin-bottom: 75px;
}
.works__link:hover {
  cursor: pointer;
  color: #c0301c;
}
.works__item a {
  color: inherit;
}
.works img {
  margin-bottom: 25px;
}

/*PARALLAX*/

.parallax-bg {
  background: linear-gradient(rgba(153, 21, 21, 0.5), rgba(201, 41, 41, 0.5)),
    url(../img/bg-parallax.png) no-repeat center;
  background-size: cover;
  opacity: 1;
}
.parallax__title {
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 100px;
}
.parallax__title:last-child {
  margin-top: 0px;
}
.parallax .button {
  margin-top: 50px;
  margin-bottom: 100px;
}

/*  BLOG  */

.blog {
  margin-bottom: 20px;
}
.blog__img {
  margin-bottom: 80px;
}
.blog__date {
  padding: 10px 22px;
  font-size: 24px;
  font-weight: bold;
  border: #777777 solid 2px;
}

.blog__date p {
  margin-top: -15px;
}

.blog__title {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #c0301c;
}

.blog__title--gray {
  color: #777777;
}

.blog__title p {
  color: #777777;
  font-size: 13px;
  text-transform: none;
}

.blog__title span {
  color: #c0301c;
}

.blog__text {
  margin-top: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.blog__link {
  color: #c0301c;
  font-weight: bold;
  font-size: 13px;
}

.blog__link--gray {
  color: #777777;
}

/*BRAND*/

.brand {
  background-color: #f8f8f8;
  padding-top: 100px;
}

.brand img {
  margin-right: 50px;
}

.brand img:last-child {
  margin-right: 0;
}
.brand__head {
  text-align: center;
}
